@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 56% 96%;
    --foreground: 30 10% 20%;
    --card: 30 50% 99%;
    --card-foreground: 30 10% 20%;
    --popover: 30 50% 99%;
    --popover-foreground: 30 10% 20%;
    --primary: 45 53% 49%;
    --primary-foreground: 30 10% 98%;
    --secondary: 30 30% 92%;
    --secondary-foreground: 30 10% 20%;
    --muted: 30 30% 92%;
    --muted-foreground: 30 5% 50%;
    --accent: 45 53% 49%;
    --accent-foreground: 30 10% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 20% 88%;
    --input: 30 20% 88%;
    --ring: 45 53% 49%;
    --chart-1: 45 53% 49%;
    --chart-2: 45 53% 60%;
    --chart-3: 45 53% 70%;
    --chart-4: 45 53% 80%;
    --chart-5: 45 53% 90%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 30 10% 10%;
    --foreground: 30 5% 90%;
    --card: 30 10% 15%;
    --card-foreground: 30 5% 90%;
    --popover: 30 10% 15%;
    --popover-foreground: 30 5% 90%;
    --primary: 45 53% 49%;
    --primary-foreground: 30 10% 98%;
    --secondary: 30 10% 25%;
    --secondary-foreground: 30 5% 98%;
    --muted: 30 10% 25%;
    --muted-foreground: 30 5% 60%;
    --accent: 45 53% 49%;
    --accent-foreground: 30 5% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 30 10% 25%;
    --input: 30 10% 25%;
    --ring: 45 53% 49%;
    --chart-1: 45 53% 49%;
    --chart-2: 45 53% 60%;
    --chart-3: 45 53% 70%;
    --chart-4: 45 53% 80%;
    --chart-5: 45 53% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
